<div class="user__page__container">
  <div class="user__page__header">
    <p class="user__page__heading">Account</p>
    <p class="user__page__heading__name">
      {{ fullName }}
    </p>
  </div>
  <div class="user__page__sidebar">
    <div class="user__page__sidebar__section">
      <p class="user__page__sidebar__title">Account</p>
      <p
        class="user__page__sidebar__link"
        [ngClass]="{ active__link: selectedOption == options.profile }"
        (click)="setOption(options.profile)"
      >
        Profile
      </p>
      <p
        class="user__page__sidebar__link"
        [ngClass]="{ active__link: selectedOption == options.address }"
        (click)="setOption(options.address)"
      >
        Saved Adresses
      </p>
    </div>
    <div class="user__page__sidebar__section">
      <p class="user__page__sidebar__title">Orders</p>
      <p
        class="user__page__sidebar__link"
        [ngClass]="{ active__link: selectedOption == options.orders }"
        (click)="setOption(options.orders)"
      >
        Orders & Returns
      </p>
      <p
        (click)="showLogOut(true)"
        id="logout"
        class="user__page__sidebar__link"
      >
        Logout <fa-icon id="logout__symbol" [icon]="logoutSymbol"> </fa-icon>
      </p>
    </div>
  </div>
  <div class="user__page__main">
    <div *ngIf="selectedOption == options.profile">
      <div class="user__page__details" *ngIf="!showAddressEdit">
        <div class="user__page__details__main">
          <div class="user__page_title">
            <p class="user__page__heading">Profile Details</p>
          </div>
          <div class="user__page__user__details">
            <div class="details__detail">
              <p class="details__txt">Full Name</p>
              <p class="details__txt">{{ fullName }}</p>
            </div>
            <div class="details__detail">
              <p class="details__txt">Email</p>
              <p class="details__txt">{{ user.email }}</p>
            </div>
            <div class="details__detail">
              <p class="details__txt">Gender</p>
              <p class="details__txt">
                {{ GenderString }}
              </p>
            </div>
            <div class="details__detail">
              <p class="details__txt">Date Of Birth</p>
              <p class="details__txt">
                {{ dobString }}
              </p>
            </div>
            <div class="details__detail">
              <p class="details__txt">Mobile number</p>
              <p class="details__txt">
                {{ details.mobile ? details.mobile : "-not-added-" }}
              </p>
            </div>
          </div>
          <div class="edit__address" (click)="setEditAddress(true)">
            <p>EDIT</p>
          </div>
        </div>
      </div>
      <div class="user__page__details" *ngIf="showAddressEdit">
        <div class="user__page__details__main">
          <form
            class="user__edit__form"
            (ngSubmit)="saveDetails()"
            [formGroup]="detailsForm"
          >
            <div class="input__section">
              <label class="label" for="mobile"> Mobile number </label>
              <input
                class="input"
                formControlName="mobile"
                id="mobile"
                type="text"
                placeholder="Mobile number"
              />
            </div>

            <div class="double__input__block">
              <div class="input__section">
                <label class="label" for="firstName"> First Name </label>
                <input
                  class="input"
                  formControlName="fName"
                  id="firstName"
                  type="text"
                  placeholder="First name"
                />
              </div>
              <div class="input__section">
                <label class="label" for="lastName"> Last name </label>
                <input
                  class="input"
                  formControlName="lName"
                  id="lastName"
                  type="text"
                  placeholder="Last name"
                />
              </div>
            </div>

            <div class="input__section">
              <label class="label" for="email"> Email </label>
              <input
                class="input"
                formControlName="email"
                id="email"
                type="text"
                placeholder="Email"
              />
            </div>

            <div class="input__gender__section">
              <div
                class="input__gender"
                (click)="setSelectGender(genders.MALE)"
              >
                <p>
                  <fa-icon
                    *ngIf="
                      genders[selectedGender] == '0' ||
                      genders[selectedGender] == 'MALE'
                    "
                    class="checkmark"
                    [icon]="checkIcon"
                  ></fa-icon>
                  Male
                </p>
              </div>
              <div
                class="input__gender"
                (click)="setSelectGender(genders.FEMALE)"
              >
                <fa-icon
                  *ngIf="
                    genders[selectedGender] == '1' ||
                    genders[selectedGender] == 'FEMALE'
                  "
                  class="checkmark"
                  [icon]="checkIcon"
                ></fa-icon>
                <p>Female</p>
              </div>
            </div>

            <div class="input__section">
              <label class="label" for="dateOfBirth"> Date Of Birth </label>
              <input
                class="input"
                formControlName="dob"
                id="dateOfBirth"
                type="date"
              />
            </div>
            <input type="submit" class="save__details" value="Save Details" />
          </form>
        </div>
      </div>
    </div>
    <div
      class="user__page__details"
      id="addresses"
      *ngIf="selectedOption == options.address"
    >
      <div
        *ngIf="addresses && addresses.length <= 0"
        class="w-full h-full flex flex-col gap-8 justify-center items-center"
      >
        <h1 class="text-lightgrey font-semibold text-[2rem]">
          No Address Registered Yet
        </h1>
        <div class="user__add__new__address" (click)="addAddress()">
          <p>
            <fa-icon id="addIcon" [icon]="plusIcon"></fa-icon> ADD NEW ADDRESS
          </p>
        </div>
      </div>

      <div *ngIf="addresses && addresses.length > 0">
        <div class="select__address__title__second" id="saved__addresses">
          <p
            *ngIf="defaultAddress > -1"
            class="select___address__heading__secondary"
          >
            SAVED ADDRESSES
          </p>
          <div class="user__add__new__address" (click)="addAddress()">
            <p>
              <fa-icon id="addIcon" [icon]="plusIcon"></fa-icon> ADD NEW ADDRESS
            </p>
          </div>
        </div>

        <div class="select__address__title__second">
          <p
            *ngIf="defaultAddress > -1"
            class="select___address__heading__secondary"
          >
            DEFAULT ADDRESS
          </p>
        </div>
        <div class="select__address__main">
          <div
            class="select__address__default__address"
            *ngIf="defaultAddress > -1"
          >
            <div
              (click)="selectAddress(defaultAddress)"
              class="select__adress__other__address"
            >
              <div
                class="select__address__other__address select__address__address"
              >
                <div class="select__address__svg">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    [ngClass]="
                      selectedAddress == defaultAddress
                        ? 'radioButton-base'
                        : 'radioButton_inactive'
                    "
                  >
                    <g fill-rule="evenodd">
                      <path
                        d="M8 14.933A6.941 6.941 0 0 1 1.067 8 6.941 6.941 0 0 1 8 1.067 6.941 6.941 0 0 1 14.933 8 6.941 6.941 0 0 1 8 14.933M8 0C3.589 0 0 3.589 0 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8"
                      />
                      <path
                        d="M8 3.429a4.571 4.571 0 1 0 0 9.143 4.571 4.571 0 0 0 0-9.143"
                      />
                    </g>
                  </svg>
                </div>
                <div class="select__address__address__selection">
                  <p class="select__address__address__name">
                    {{ addresses[defaultAddress].name }}
                    <span
                      class="select__addresss__type"
                      [ngClass]="
                        enumAddresstype[
                          addresses[defaultAddress].addressType
                        ] == '1'
                          ? 'select__addresss__type__work'
                          : 'garbage'
                      "
                      >{{ addresses[defaultAddress].addressType }}</span
                    >
                  </p>
                  <p class="select__address__text">
                    {{ addresses[defaultAddress].totalAddress }}
                  </p>
                  <p class="select__address__text">
                    {{
                      addresses[defaultAddress].town +
                        " , " +
                        addresses[defaultAddress].state +
                        " - " +
                        addresses[defaultAddress].pin
                    }}
                  </p>
                  <p
                    class="select__address__text select__address__mobile__number"
                  >
                    Mobile :
                    <span class="select__address__bold__text"
                      >{{ addresses[defaultAddress].mobileNumber }}
                    </span>
                  </p>
                  <div
                    class="select__address__selected__change"
                    *ngIf="selectedAddress == defaultAddress"
                  >
                    <p class="select__delivery__available">
                      <fa-icon class="dotIcon" [icon]="dotIcon"></fa-icon> Pay
                      on Delivery available
                    </p>

                    <div class="select__delivery__address__modification">
                      <div
                        (click)="removeAddress(addresses[defaultAddress].id)"
                        class="select__address__remove"
                      >
                        REMOVE
                      </div>
                      <div
                        (click)="editAddress(addresses[defaultAddress])"
                        class="select__address__edit"
                      >
                        EDIT
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="otherAddress.length > 0">
            <p
              class="select___address__heading__secondary"
              *ngIf="otherAddress.length > 0"
            >
              OTHER ADRESSES
            </p>
            <div
              *ngFor="let i of otherAddress"
              (click)="selectAddress(i)"
              class="select__adress__other__address"
            >
              <div
                class="select__address__other__address select__address__address"
              >
                <div class="select__address__svg">
                  <svg
                    s="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    [ngClass]="
                      selectedAddress == i
                        ? 'radioButton-base'
                        : 'radioButton_inactive'
                    "
                  >
                    <g fill-rule="evenodd">
                      <path
                        d="M8 14.933A6.941 6.941 0 0 1 1.067 8 6.941 6.941 0 0 1 8 1.067 6.941 6.941 0 0 1 14.933 8 6.941 6.941 0 0 1 8 14.933M8 0C3.589 0 0 3.589 0 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8"
                      />
                      <path
                        d="M8 3.429a4.571 4.571 0 1 0 0 9.143 4.571 4.571 0 0 0 0-9.143"
                      />
                    </g>
                  </svg>
                </div>
                <div class="select__address__address__selection">
                  <p class="select__address__address__name">
                    {{ addresses[i].name }}
                    <span
                      class="select__addresss__type"
                      [ngClass]="
                        enumAddresstype[addresses[i].addressType] == '1'
                          ? 'select__addresss__type__work'
                          : 'garbage'
                      "
                      >{{ addresses[i].addressType }}</span
                    >
                  </p>
                  <p class="select__address__text">
                    {{ addresses[i].totalAddress }}
                  </p>
                  <p class="select__address__text">
                    {{
                      addresses[i].town +
                        " , " +
                        addresses[i].state +
                        " - " +
                        addresses[i].pin
                    }}
                  </p>
                  <p
                    class="select__address__text select__address__mobile__number"
                  >
                    Mobile :
                    <span class="select__address__bold__text"
                      >{{ addresses[i].mobileNumber }}
                    </span>
                  </p>
                  <div
                    class="select__address__selected__change"
                    *ngIf="selectedAddress == i"
                  >
                    <p class="select__delivery__available">
                      <fa-icon class="dotIcon" [icon]="dotIcon"></fa-icon> Pay
                      on Delivery available
                    </p>

                    <div class="select__delivery__address__modification">
                      <div
                        (click)="removeAddress(addresses[i].id)"
                        class="select__address__remove"
                      >
                        REMOVE
                      </div>
                      <div
                        (click)="editAddress(addresses[i])"
                        class="select__address__edit"
                      >
                        EDIT
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="selectedOption == options.orders"
      id="addresses"
      class="user__page__details"
    >
      <p class="text-2xl font-medium text-main">All Orders</p>
      <p class="text-base text-main">from anytime</p>

      <div class="w-ful h-auto mt-[2rem]">
        <div class="w-full h-auto flex flex-col gap-[2rem]">
          <div
            *ngFor="let item of orderInfoItems; let itemIndex = index"
            [attr.data-index]="itemIndex"
          >
            <div class="w-full h-auto flex flex-col gap-2 bg-white">
              <div class="w-full flex gap-2 px-5 h-fit bg-white">
                <div
                  class="order-symbol flex justify-center items-center rounded-full bg-black w-[32px] h-[32px]"
                >
                  <div class="w-fit relative h-fit">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="26"
                      height="26"
                      class="relative"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="#FFFFFF"
                        fill-rule="nonzero"
                        d="M19.173 7.059l-7.232-4a.469.469 0 0 0-.454 0l-7.232 4A.503.503 0 0 0 4 7.5v9c0 .185.098.355.255.441l7.232 4a.469.469 0 0 0 .454 0l7.232-4a.503.503 0 0 0 .256-.441v-9a.503.503 0 0 0-.256-.441zm-7.459-2.992L17.922 7.5 15.33 8.933 9.123 5.5l2.591-1.433zm-.482 15.6L4.964 16.2V8.334l6.268 3.466v7.866zm.482-8.734L5.507 7.5l2.591-1.433L14.305 9.5l-2.59 1.433zm6.75 5.267l-6.268 3.466V11.8l6.268-3.466V16.2z"
                      ></path>
                    </svg>
                    <div
                      class="tick-background w-[21px] h-[14px] bottom-0 left-[10px] bg-green-950 absolute"
                    ></div>
                  </div>
                </div>
                <div>
                  <p class="block font-medium text-[1.3rem] text-greentext">
                    Ordered
                  </p>
                  <p class="text-[1rem] text-gray-600">
                    On {{ item.orderedOn }}
                  </p>
                </div>
              </div>
              <div
                class="order__item w-full cursor-pointer h-[8rem] p-5 flex gap-5 bg-gray-100"
              >
                <div class="w-[8rem] h-full">
                  <div
                    class="order__image w-full h-full"
                    [ngStyle]="{
                      'background-image':
                        'url(https://apollopharmacy.sivacodes.com/api/v1/img/' +
                        item.url +
                        ')'
                    }"
                  ></div>
                  <div class="w-[4rem] h-full"></div>
                </div>
                <div class="w-3/4 h-full">
                  <p class="font-semibold text-lg">{{ item.brand }}</p>
                  <p class="productbatch__title text-[1.1rem] mb-[0.6rem]">
                    {{ item.name }}
                  </p>
                  <div
                    class="text-[1rem] font-normal text-gray-600 w-2/3 h-auto flex gap-5"
                  >
                    <p>Size :</p>
                    <p class="">
                      {{ item.size }}
                    </p>
                  </div>
                </div>
                <div class="h-full w-[2.5rem] rigth-arrow"></div>
              </div>
              <div class="w-full h-auto bg-white flex flex-col gap-2">
                <div class="w-full p-4 flex items-center bg-gray-100 h-14">
                  <p class="text-gray-400">
                    <fa-icon
                      class=""
                      [classes]="['text-[10px]', 'ml-6', 'mr-3']"
                      [icon]="dotIcon"
                    ></fa-icon>
                  </p>
                  <p class="self-baseline text-lg mt-[2px] text-gray-500">
                    {{
                      item.reviewExists
                        ? item.review?.reviewText
                          ? "EDIT REVIEW"
                          : "WRITE REVIEW"
                        : "Rate Product"
                    }}
                  </p>
                </div>
                <div
                  class="order__ratingbar pl-9 w-full grid gap-3 p-4 bg-gray-100 h-14"
                >
                  <div class="order__ratingbar__ratingblock flex gap-4">
                    <p
                      *ngIf="!item.reviewExists"
                      class="mt-[2px] text-base text-gray-500"
                    >
                      Rate Product
                    </p>
                    <div
                      class="w-auto h-full flex gap-2 items-center justify-start"
                    >
                      <div
                        *ngFor="let i of [1, 2, 3, 4, 5]"
                        class="rating__star w-6 h-6 cursor-pointer"
                        (mouseenter)="hoverRating(itemIndex, i)"
                        (click)="submitRating(itemIndex)"
                        (mouseleave)="unHoverRating(itemIndex)"
                        [ngClass]="
                          reviewHoverIndex == itemIndex &&
                          i <= reviewHoverRating
                            ? 'rating__star__filled'
                            : reviewHoverIndex !== itemIndex &&
                              i <= item.review?.rating!
                            ? 'rating__star__filled'
                            : 'rating__star__empty'
                        "
                      ></div>
                    </div>
                  </div>
                  <div
                    (click)="
                      openReviewPopup(
                        item.name,
                        item.url,
                        item.review?.reviewText!,
                        item.review?.rating!,
                        item.reviewExists,
                        item.review?.reviewId!,
                        item.productId
                      )
                    "
                    class="order__ratingbar__reviewButton"
                  >
                    <p class="font-semibold cursor-pointer text-main text-lg">
                      {{
                        item.reviewExists && item.review?.reviewText
                          ? "EDIT REVIEW"
                          : "WRITE REVIEW"
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="logoutWarning" class="logout__popup">
  <div class="actual__popup">
    <div class="logout__info">
      <p class="warning">Logout</p>
      <p class="waring__text">
        Are you sure u want to logout ? You will be redirected to home page.
      </p>
    </div>
    <div class="logut__buttons">
      <div (click)="showLogOut(false)" class="cancel">
        <p>Cancel</p>
      </div>
      <div (click)="logOut()" class="final__logout">
        <p>Logout</p>
      </div>
    </div>
  </div>
</div>

<app-address-changer
  [data]="addresses"
  (close)="setAddressVisible(false)"
  [visible]="addressVisible"
  (selectAddress)="selectAddress($event)"
>
</app-address-changer>
