:host {
  max-width: 100vw;
  height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user__page__container {
  width: 60%;
  height: 80%;
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 3rem 1fr;
  grid-auto-rows: 0;
  grid-auto-columns: 0;
  grid-template-areas:
    "header header"
    "sidebar main";
}

.user__page__header {
  grid-area: header;
  border-bottom: var(--border-thin);
}

.user__page__sidebar {
  grid-area: sidebar;
  border-right: var(--border-thin);
}

.user__page__main {
  grid-area: main;
}
