.footer-container {
  background-color: #fff;
  /* box-shadow: rgba(27, 31, 35, 0.04) 0px -4px 0px;
  rgba(255, 255, 255, 0.25) 0px -4px 0px inset; */

  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.14);
  letter-spacing: normal;
}

.footer_info_text > p,
h1 {
  margin-bottom: 1rem;
}

.footer_info_text > h1 {
  font-size: 1rem;
  font-weight: 600;
}

.footer_info_text > p {
  font-size: 0.8rem;
  color: #666;
}

.bold {
  font-weight: 600;
}

.footer-2 {
  box-shadow: var(--shadow);
}

.footer_stats_text {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-stats > p > span {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  width: auto;
}

.footer-links > h3 {
  font-weight: 600;
  font-size: 1rem;
}

.footer-links > p {
  font-size: 0.9rem;
  color: #666;
}

.app_download {
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1375px) {
  .footer-main {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 700px) {
  .footer_info_text {
    width: 95%;
    padding: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .largest_healthcare {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .largest_healthcare {
    font-size: 1.2rem;
  }
  .footer_stats_text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .largest_healthcare {
    font-size: 1rem;
  }

  .footer_stats_text {
    font-size: 1rem;
  }

  .download_app {
    display: none;
  }

  .footer-main {
    height: auto;
    padding: 1rem;
    gap: 0;
    row-gap: 2rem;
    width: 88%;
    justify-content: space-between;
  }
}
