<div class="footer-container flex flex-col pb-4 items-center w-full h-auto">
  <!-- <div class="footer_info_text h-fit p-6 pl-8">
    <h1>
      Stay Healthy with Apollo Pharmacy: Your Favourite Online Pharmacy and
      Healthcare Platform.
    </h1>
    <h1>We Bring Care to Health.</h1>
    <p>
      Apollo Pharmacy is India's leading digital healthcare platform. From
      doctor consultations on chat to online pharmacy and lab tests at home: we
      have it all covered for you. Having delivered over 25 million orders in
      1000+ cities till date, we are on a mission to bring "care" to "health" to
      give you a flawless healthcare experience.
    </p>
    <h1>Apollo Pharmacy: Your Favourite Online Pharmacy!</h1>
    <p>
      Apollo Pharmacy is India's leading online chemist with over 2 lakh
      medicines available at the best prices. We are your one-stop destination
      for other healthcare products as well, such as over the counter
      pharmaceuticals, healthcare devices and homeopathy and ayurveda medicines.
    </p>
    <p>
      With Apollo Pharmacy, you can buy medicines online and get them delivered
      at your doorstep anywhere in India! But, is ordering medicines online a
      difficult process? Not at all! Simply search for the products you want to
      buy, add to cart and checkout. Now all you need to do is sit back as we
      get your order delivered to you.
    </p>
    <p>
      In case you need assistance, just give us a call and we will help you
      complete your order.
    </p>
    <p>
      And there is more! At Apollo Pharmacy, you can buy health products and
      medicines online at best discounts.
    </p>
    <p>
      Now, isn't that easy? Why go all the way to the medicine store and wait in
      line, when you have Apollo Pharmacy Pharmacy at your service.
    </p>
    <h1>The Feathers in Our Cap.</h1>
    <p>
      At Apollo Pharmacy, our goal is to make healthcare understandable,
      accessible and affordable in India. We set out on our journey in 2015, and
      have come a long way since then. Along the way, we have been conferred
      with prestigious titles like
      <span class="bold">
        BML Munjal Award for 'Business Excellence through Learning and
        Development', Best Online Pharmacy in India Award and Top 50 venture in
        The Smart CEO-Startup50 India.</span
      >
      We have been selected as the only company from across the globe for
      <span class="bold">
        SD#3 "Health & Well Being for all" by Unreasonable group, US State
        Department.</span
      >
      In 2019 alone we received three awards including the
      <span class="bold"> BMW Simply Unstoppable Award.</span>
    </p>

    <h1>The Services We Offer.</h1>
    <p>
      Apollo Pharmacy is India's leading digital healthcare platform, where you
      can buy medicines online with discount. Buy medicine online in Delhi,
      Mumbai, Bangalore, Hyderabad, Pune, Gurgaon, Noida, Kolkata, Chennai,
      Ahmedabad, Lucknow and around a 1000 more cities. Besides delivering your
      online medicine order at your doorstep, we provide accurate, authoritative
      & trustworthy information on medicines and help people use their medicines
      effectively and safely.
    </p>

    <p>
      We also facilitate lab tests at home. You can avail over 2,000 tests and
      get tested by 120+ top and verified labs at the best prices. Need to
      consult a doctor? On our platform, you can talk to over 20 kinds of
      specialists in just a few clicks.
    </p>

    <p>
      Customer centricity is the core of our values. Our team of highly trained
      and experienced doctors, phlebotomists and pharmacists looks into each
      order to give you a fulfilling experience.
    </p>
    <p>
      We’ve made healthcare accessible to millions by giving them quality care
      at affordable prices. Customer centricity is the core of our values. Our
      team of highly trained and experienced doctors, phlebotomists and
      pharmacists looks into each order to give you a fulfilling experience.
    </p>
    <p>
      Visit our online medical store now, and avail online medicine purchase at
      a discount.
      <span class="block"> Stay Healthy! </span>
    </p>
  </div> -->
  <div class="footer_info_text w-[82%] h-fit p-6 pl-8">
    <h1 class="text-red-600">
      Disclaimer: This Website is for Demonstration Purposes Only
    </h1>
    <h1>Fictitious Content.</h1>
    <p>
      The content and information presented on this website are entirely
      fictitious and intended solely for illustrative and demonstration
      purposes. Any resemblance to real individuals, organizations, or events is
      purely coincidental.
    </p>
    <h1>Placeholder Text and Images.</h1>
    <p>
      All text, images, and other media used on this website are placeholders
      and do not represent real products, services, or offerings. The website's
      design, layout, and features are also part of a simulated environment and
      do not reflect any actual coding or functionality.
    </p>

    <h1>Design and Functionality.</h1>

    <p>
      No warranties, either expressed or implied, are provided regarding the
      accuracy, reliability, or suitability of the content presented on this
      demo website. Visitors are advised that this website does not have any
      real-world functionality, and any actions taken within the site will not
      result in actual transactions, interactions, or consequences.
    </p>

    <h1>No Transactions.</h1>
    <p>
      This website does not facilitate any real transactions, purchases, or
      financial activities. Any buttons or forms related to transactions are
      simulated and do not process real payments or requests.
    </p>

    <h1>No Personal Data Collection.</h1>

    <p>
      This website does not collect, store, or process any personal information.
      Any form entries or interactions are for demonstration purposes only.
    </p>
    <h1>Cookies and Tracking:</h1>
    <p>
      This demo website does not use cookies or tracking mechanisms to gather
      user data or behavior.
    </p>
    <h1>No Endorsement.</h1>
    <p>
      Any logos, trademarks, or branding of companies or products used on this
      website are for illustrative purposes only and do not imply endorsement or
      affiliation.
    </p>
    <p>
      By accessing and using this demo website, you acknowledge that you
      understand and agree to the nature of this simulated demonstration.
    </p>
    <p class="bold">
      If you have any questions or concerns, please contact us at
      <a class="bold text-dangerRed" href="mailto:siva@sivacodes.com"
        >siva@sivacodes.com</a
      >.
    </p>
  </div>
  <div class="footer-2 w-full mb-1 h-44 flex flex-col items-center">
    <div class="w-full flex justify-center items-center h-1/3">
      <p class="text-3xl largest_healthcare font-semibold">
        INDIA’S LARGEST HEALTHCARE PLATFORM
      </p>
    </div>
    <div class="footer-stats w-full h-2/3 flex justify-around items-center">
      <p class="footer_stats_text">260m+ <span>Visitors</span></p>
      <p class="footer_stats_text">31m+ <span>Orders Delivered</span></p>
      <p class="footer_stats_text">18600+ <span>Cities</span></p>
    </div>
  </div>
  <div
    class="footer-main flex justify-start gap-24 pt-12 pl-[4.8rem] w-[80%] h-[20rem]"
  >
    <div class="footer-links">
      <h3>Online Shopping</h3>
      <p>Vitamins & Nutrition</p>
      <p>Healthcare Devices</p>
      <p>Personal Care</p>
      <p>Ayurveda</p>
      <p>Homeopathy</p>
    </div>

    <div class="footer-links">
      <h3>Services</h3>
      <p>Contact us</p>
      <p>Terms Of Use</p>
      <p>Orders</p>
      <p>Saved Addresses</p>
      <p>About us</p>
    </div>

    <div class="footer-links">
      <h3>Our Services</h3>
      <p>Order Medicines</p>
      <p>Book Lab Tests</p>
      <p>Consult a Doctor</p>
      <p>Ayurveda Articles</p>
      <p>Care Plan</p>
    </div>

    <div class="footer-links">
      <h3>Useful Links</h3>
      <p>Blog</p>
      <p>Careers</p>
      <p>Site Map</p>
      <p>Corporate Information</p>
      <p>Whitehat</p>
    </div>
    <div class="footer-links">
      <h3>Connect</h3>
      <p class="!text-[1rem]">Social Links</p>
      <div class="flex w-auto gap-2">
        <div
          class="w-8 h-8"
          *ngFor="
            let i of [
              'Facebook',
              'Instagram',
              'Twitter',
              'Youtube',
              'LinkedIn',
              'Medium'
            ]
          "
          [style.background-image]="
            'url(assets/socialMediaIcons/' + i + '.svg)'
          "
        ></div>
      </div>
      <p>Want daily dose of health ?</p>
      <div
        class="bg-main rounded-lg w-20 h-10 text-base text-white flex items-center justify-center"
      >
        Sign Up
      </div>
    </div>
    <div class="footer-links download_app">
      <h3>Download App</h3>
      <div class="flex flex-col">
        <div
          [style.background-image]="
            'url(' +
            'assets/socialMediaIcons/google-play-badge-logo-svgrepo-com.svg' +
            ')'
          "
          class="app_download w-44 h-20"
        ></div>
        <div
          [style.background-image]="
            'url(' +
            '/assets/socialMediaIcons/download-on-the-app-store-apple-logo-svgrepo-com.svg' +
            ')'
          "
          class="app_download w-44 h-20"
        ></div>
      </div>
    </div>
  </div>
</div>
