<div
  class="picker__container"
  (click)="stopPropagation($event)"
  [ngClass]="showup ? 'visible' : ''"
>
  <div class="actual__picker">
    <p class="select__text">SELECT QUANTITY</p>
    <div class="close" (click)="onClose($event)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        class="close__mark"
      >
        <path
          fill="#000"
          fill-rule="evenodd"
          d="M9.031 8l6.756-6.756a.731.731 0 0 0 0-1.031.732.732 0 0 0-1.031 0L8 6.969 1.244.213a.732.732 0 0 0-1.031 0 .731.731 0 0 0 0 1.03L6.969 8 .213 14.756a.731.731 0 0 0 0 1.031.732.732 0 0 0 1.031 0L8 9.031l6.756 6.756a.732.732 0 0 0 1.031 0 .731.731 0 0 0 0-1.03L9.031 8z"
        />
      </svg>
    </div>
    <div class="selections">
      <div
        class="selection"
        [ngClass]="i == selected ? 'selected' : ''"
        *ngFor="let i of selection"
        (click)="changeSelection(i)"
      >
        <p>{{ i }}</p>
      </div>
    </div>
    <div class="done" (click)="change($event)"><p>done</p></div>
  </div>
</div>
