<nav class="grid-container">
  <a routerLink="/" class="logo-container">
    <img class="logo" src="assets/img/pharmacy_logo.svg" alt="" />
  </a>
  <header class="header">
    <div class="searchBar">
      <img class="search-icon" src="/assets/img/search.svg" alt="" />
      <input
        type="text"
        class="search-text"
        title="Search for Medicines"
        autocomplete="off"
        placeholder="Search for Medicines and Supplements"
      />
    </div>
    <div class="user">
      <a
        class="cart profile"
        (mouseenter)="toggleProfile(true)"
        (mouseleave)="toggleProfile(false)"
      >
        <img
          src="assets/img/profile-svgrepo-com (2).svg"
          alt=""
          class="cart-img profile-img"
        />
        <p
          id="profile__text"
          class="icon-text"
          [ngClass]="authDropDown ? 'profile__text__active' : ''"
        >
          profile
        </p>
        <app-auth-dropdown
          routerLink="/login"
          (click)="toggleProfile(false)"
          [ngClass]="authDropDown ? 'profile__dropdown__visible' : ''"
          class="profile__dropdown"
        ></app-auth-dropdown>
      </a>
      <a class="cart" routerLink="/cart">
        <img src="assets/bag.png" alt="" class="cart-img" />
        <p class="icon-text profile-text">cart</p>
        <div *ngIf="cartCount$ | async" class="cart__count">
          <p class="count__text">{{ cartCount$ | async }}</p>
        </div>
      </a>
    </div>
  </header>
  <nav class="header-nav">
    <div
      *ngFor="let option of navbarOptions; let i = index"
      [attr.data-index]="i"
      (mouseenter)="
        showDropDown({ options: options[i], index: i, value: true })
      "
      (mouseleave)="showDropDown({ options: [], index: i, value: false })"
      [ngClass]="isactive[i] ? 'option__active' : ''"
      class="nav-option"
    >
      {{ option }}
    </div>
  </nav>
</nav>
