<nav class="grid-container">
  <a routerLink="/" class="logo-container">
    <img class="logo" src="assets/img/pharmacy_logo.svg" alt="" />
  </a>
  <header class="header">
    <!-- <app-searchbar></app-searchbar> -->
    <div class="searchBar">
      <img class="search-icon" src="/assets/img/search.svg" alt="" />
      <input
        type="text"
        class="search-text"
        title="Search for Medicines"
        autocomplete="off"
        placeholder="Search for Medicines and Supplements"
      />
    </div>
    <div class="user">
      <a routerLink="/profile" class="cart profile">
        <img
          src="assets/img/profile-svgrepo-com (2).svg"
          alt=""
          class="cart-img profile-img"
        />
        <p class="icon-text">profile</p>
      </a>
      <a routerLink="/cart" class="cart">
        <img src="assets/bag.png" alt="" class="cart-img" />
        <p class="icon-text profile-text">cart</p>
      </a>
    </div>
  </header>
  <nav class="header-nav" (mouseleave)="showDropDown(false)">
    <a
      href="#"
      *ngFor="let option of navbarOptions"
      (mouseenter)="showDropDown(true)"
      (click)="$event.preventDefault()"
      class="nav-option"
      >{{ option }}
    </a>
  </nav>
</nav>
