<app-pop-up-layer class="popup__layer" [ngClass]="{ popup_show: popUpActive }">
</app-pop-up-layer>
<div class="main">
  <app-navbar [isactive]="activeState" (dropdown)="setDropDownVisible($event)">
  </app-navbar>
  <router-outlet></router-outlet>
  <app-dropdown
    (setactive)="setactive($event)"
    (setAllinactive)="setactiveStateallFalse()"
    [isVisible]="isDropDownVisible"
    [options]="options"
    [activeNav]="activeIndex"
  ></app-dropdown>
  <!-- <app-footer></app-footer> -->
</div>
