<div class="change__address" [ngClass]="visible ? 'visible' : ''">
  <div class="actual__dropdown">
    <div class="first__form" *ngIf="!showAddressForm">
      <div class="title__section">
        <p class="title">CHANGE ADDRESS</p>
        <div class="close" (click)="exit()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            class="close__mark"
          >
            <path
              fill="#000"
              fill-rule="evenodd"
              d="M9.031 8l6.756-6.756a.731.731 0 0 0 0-1.031.732.732 0 0 0-1.031 0L8 6.969 1.244.213a.732.732 0 0 0-1.031 0 .731.731 0 0 0 0 1.03L6.969 8 .213 14.756a.731.731 0 0 0 0 1.031.732.732 0 0 0 1.031 0L8 9.031l6.756 6.756a.732.732 0 0 0 1.031 0 .731.731 0 0 0 0-1.03L9.031 8z"
            />
          </svg>
        </div>
      </div>
      <div class="main">
        <div id="scrollbared" *ngIf="data && data.length > 0" class="addreess">
          <div
            class="address__block"
            [attr.data-index]="in"
            *ngFor="let i of data; let in = index"
          >
            <!-- <input
              type="checkbox"
              [checked]="selectedAddress == in ? 'checked' : ''"
              (change)="checkValue(in)"
              class="address__block__selection"
            /> -->

            <div class="address__block__main">
              <p class="address__block__name">
                {{ i.name }} <span *ngIf="i.isDefault">(default)</span>
              </p>
              <p class="address__block__text">
                {{ i.totalAddress }}
              </p>
              <p class="address__block__text">{{ "(" + i.district + ")" }}</p>
              <p class="address__block__text">{{ i.town + " - " + i.pin }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="or">
        <p>OR</p>
      </div>
      <div class="add__address" (click)="setShowAddress(true)">
        <p>ADD NEW ADDRESS</p>
      </div>
    </div>
    <div class="second__form" *ngIf="showAddressForm">
      <div class="title__section">
        <p class="title">ADD NEW ADDRESS</p>
        <div class="close" (click)="exit()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            class="close__mark"
          >
            <path
              fill="#000"
              fill-rule="evenodd"
              d="M9.031 8l6.756-6.756a.731.731 0 0 0 0-1.031.732.732 0 0 0-1.031 0L8 6.969 1.244.213a.732.732 0 0 0-1.031 0 .731.731 0 0 0 0 1.03L6.969 8 .213 14.756a.731.731 0 0 0 0 1.031.732.732 0 0 0 1.031 0L8 9.031l6.756 6.756a.732.732 0 0 0 1.031 0 .731.731 0 0 0 0-1.03L9.031 8z"
            />
          </svg>
        </div>
      </div>
      <div class="addaddress__form">
        <p class="form__section__title">CONTACT DETAILS</p>
        <form (ngSubmit)="addAddress()" [formGroup]="addAddressForm">
          <input
            type="text"
            formControlName="name"
            class="addresss__input"
            placeholder="Name*"
            [ngClass]="
              name && name.dirty && name.touched && name.invalid
                ? 'input__error'
                : ''
            "
          />
          <input
            type="text"
            class="addresss__input"
            placeholder="Mobile No*"
            formControlName="mobile"
            [ngClass]="
              mobile &&
              mobile.dirty &&
              mobile.touched &&
              mobile.hasError('pattern')
                ? 'input__error'
                : ''
            "
          />
          <p class="form__section__title">ADDRESS</p>
          <input
            class="addresss__input"
            formControlName="pin"
            type="text"
            placeholder="Pin Code*"
            [ngClass]="
              pin && pin.dirty && pin.touched && pin.hasError('pattern')
                ? 'input__error'
                : ''
            "
          />

          <input
            type="text"
            class="addresss__input"
            placeholder="District*"
            formControlName="district"
            [ngClass]="
              district &&
              district.dirty &&
              district.touched &&
              district.hasError('minlength')
                ? 'input__error'
                : ''
            "
          />
          <input
            class="addresss__input"
            formControlName="address"
            type="text"
            placeholder="Address(House No,Building,Street,Area)*"
            [ngClass]="
              address &&
              address.dirty &&
              address.touched &&
              address.hasError('minlength')
                ? 'input__error'
                : ''
            "
          />
          <input
            type="text"
            class="addresss__input"
            formControlName="town"
            placeholder="Locality/Town*"
            id="town__input"
            [ngClass]="
              town && town.dirty && town.touched && town.hasError('minlength')
                ? 'input__error'
                : ''
            "
          />
          <select
            type="text"
            title="states"
            name="states"
            formControlName="state"
            id="state__input"
            class="addresss__input"
          >
            <option
              *ngFor="let i of values"
              value="{{ i }}"
              [selected]="i == 'Assam' ? 'selected' : ''"
            >
              {{ i }}
            </option>
          </select>
          <p class="form__section__title" id="save__address_as">
            SAVE ADDRESS AS
          </p>
          <div class="address__type__selection">
            <div
              [ngClass]="addressType == 'HOME' ? 'selected' : ''"
              (click)="changeAddressType('HOME')"
              class="address__type"
            >
              <p>Home</p>
            </div>
            <div
              [ngClass]="addressType == 'WORK' ? 'selected' : ''"
              (click)="changeAddressType('WORK')"
              class="address__type"
            >
              <p>Work</p>
            </div>
          </div>
          <div class="isDefault">
            <input
              type="checkbox"
              formControlName="isDefault"
              name="default"
              id="isdefault"
            />
            <label for="isdefault">Make this my default address</label>
          </div>
          <button class="add__address" type="submit">ADD ADDRESS</button>
        </form>
      </div>
    </div>
  </div>
</div>
