.productbatch__container {
  cursor: pointer;
  height: 20rem;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 45% 14% 1rem repeat(2, 1fr);
  grid-template-areas:
    "pic pic"
    "name name"
    "quantity quantity"
    "rating add"
    "price add";
  align-items: center;
  grid-row-gap: 8px;
}

.productbatch__image {
  width: 100%;
  /* height: calc(50% - 35px); */
  height: 100%;
  grid-area: pic;
  padding: 2px;
  margin-bottom: 4px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s;
}

.productbatch__title {
  width: 100%;
  grid-column: name;
  height: auto;
  color: #212121;
  /* padding-bottom: 0.2rem; */
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* margin-right: 1rem; */
  font-weight: 400;
}

.productbatch___price__text {
  font-size: 1.1rem;
  display: block;
}

.productbatch__info {
  width: 100%;
  color: gray;
  grid-column: quantity;
  font-weight: 400;
}

.productbatch__rating {
  width: 100%;
  grid-column: rating;
}
.rating__text {
  font-size: 0.9rem;
}

.productbatch__rating__text {
  /* margin-top: 6%; */
  padding: 2px;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  background-color: #1aab2a;
  color: white;
  border-radius: 1px;
}

.rating__star_con {
  display: block;
}

.rating__star {
  display: block;
  width: 15px;
  padding-bottom: 2px;
}

.productbatch___price {
  /* margin-top: 10px; */
  grid-area: price;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productbatch___price__text {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3b3b3b;
}

.add {
  /* box-sizing: content-box; */
  width: 6rem;
  height: 3rem;
  /* background-color: lightgrey; */
  border: 1px solid var(--main-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border-radius: 6px; */
  transition: 50ms ease-in;
  /* grid-area: add; */
  /* margin-bottom: 0.6rem; */
}
.add:hover {
  border: 2px solid var(--main-color);
  background-color: rgb(198, 234, 246);
  font-size: 1.5rem;
}

.add:active {
  transform: scale(0.95);
}

.add__text {
  color: var(--main-color);
  font-size: 1.1rem;
  font-weight: 600;
}

.add__to__cart {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}

.rating__number {
  display: block;
}

.checkmark {
  width: 1.5rem;
  height: auto;
  display: block;
  margin-left: 5px;
}

.added {
  font-size: 1rem;
  color: var(--main-color);
  display: block;
}

.added_container {
  margin-right: 1rem;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  grid-area: add;
  gap: 5px;
}

.add__to__cart__full {
  display: none;
  border: 1px solid var(--main-color);
  height: 100%;
  /* margin-top: 0.2rem; */
}

.product__batch__add {
  grid-area: add;
  align-self: end;
}

.added_mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .add {
    display: none;
  }

  .add__to__cart__full {
    display: flex;
    grid-area: addToCart;
  }

  .productbatch__title {
    margin-bottom: 0.2rem;
  }

  .productbatch__container {
    grid-template-rows: 40% 14% 1rem repeat(3, 1fr);
    grid-template-areas:
      "pic pic"
      "name name"
      "quantity quantity"
      "rating add"
      "price add"
      "addToCart addToCart";
  }

  .added_container {
    grid-area: addToCart;
    display: none;
    justify-content: flex-start;
    justify-self: flex-start;
  }

  .added_desktop {
    display: none;
  }

  /* .product__batch__add {
    display: block;
  } */

  .added_mobile {
    display: flex;
  }
}
