<div
  class="productbatch__container"
  [routerLink]="['/product', product.productId]"
  routerLinkActive="router-link-active"
>
  <div
    class="productbatch__image"
    [ngStyle]="{
      'background-image':
        'url(http://localhost:8080/api/v1/img/' +
        product.variants[0].images[0] +
        ')'
    }"
  ></div>
  <div class="productbatch__title">
    {{ product.productName }}
  </div>
  <div class="productbatch__info">
    <p class="productbatch__info__text">
      {{ product.variants[0].quantity + " " + product.variants[0].mesurement }}
    </p>
  </div>
  <div class="productbatch__rating">
    <div class="productbatch__rating__text">
      <p class="rating__text">4.5</p>
      <span class="rating__star_con">
        <svg
          class="rating__star"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="15"
          viewBox="0 0 51 48"
        >
          <path
            fill="#ffffff"
            stroke="none"
            d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"
          />
        </svg>
      </span>
    </div>
  </div>
  <div class="productbatch___price">
    <p class="productbatch___price__text">
      &#8377;{{ currencyFormat(product.variants[0].price) }}
    </p>
    <span class="add" *ngIf="!existsOnCart" (click)="addToCart($event)">
      <p class="add__text">Add</p>
      <!-- <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'> -->
      <svg
        class="add__to__cart"
        enable-background="new 0 0 512 512"
        height="512px"
        id="Layer_1"
        version="1.1"
        viewBox="0 0 512 512"
        width="512px"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <path
          fill="#3a8885"
          d="M256,512C114.625,512,0,397.391,0,256C0,114.609,114.625,0,256,0c141.391,0,256,114.609,256,256  C512,397.391,397.391,512,256,512z M256,64C149.969,64,64,149.969,64,256s85.969,192,192,192c106.047,0,192-85.969,192-192  S362.047,64,256,64z M288,384h-64v-96h-96v-64h96v-96h64v96h96v64h-96V384z"
        />
      </svg>
    </span>

    <div *ngIf="existsOnCart" class="added_container">
      <img class="checkmark" src="/assets/check-mark.svg" alt="" />
      <p class="added">added</p>
    </div>
  </div>
</div>
