<div class="slider__container">
  <div class="slider__controls">
    <span class="slider__title">{{ name }}</span>
    <a
      [routerLink]="['/products']"
      [queryParams]="{ type: name }"
      onclick="($event.preventdefault())"
      class="slider__veiw__more"
    >
      <span> See All </span></a
    >
  </div>
  <div class="slider__main">
    <div class="slider__actual">
      <div
        *ngIf="productsLoaded && type == sliderTypes.product"
        class="w-full flex"
      >
        <div
          *ngFor="let i of [0, 1, 2, 3, 4, 5]"
          class="h-[15rem] px-[2.6rem] p-[2rem] flex flex-col gap-5 justify-center items-center"
        >
          <div
            class="skeleton h-[10rem] w-[10rem] radius rounded-sm bg-thinborder"
          ></div>
          <div
            class="skeleton h-[2rem] w-[10rem] rounded-sm bg-thinborder"
          ></div>
        </div>
      </div>
      <div
        class="slides__container"
        *ngIf="type == sliderTypes.product && !productsLoaded"
        [ngStyle]="{
          'margin-left': 'calc( -' + margin + '% - 4px)'
        }"
        (swipeleft)="slideRight()"
        (swiperight)="slideLeft()"
      >
        <div
          class="slide"
          *ngFor="let product of products; let i = index"
          [attr.data-index]="i"
        >
          <app-product-batch [product]="product"> </app-product-batch>
        </div>
      </div>

      <div
        *ngIf="!brandsLoaded && type == sliderTypes.brand"
        class="w-full flex"
      >
        <div
          *ngFor="let i of [0, 1, 2, 3, 4, 5]"
          class="h-[15rem] px-[2.6rem] p-[2rem] flex flex-col gap-5 justify-center items-center"
        >
          <div
            class="skeleton h-[10rem] w-[10rem] radius rounded-sm bg-thinborder"
          ></div>
          <div
            class="skeleton h-[2rem] w-[10rem] rounded-sm bg-thinborder"
          ></div>
        </div>
      </div>
      <div
        class="slides__container"
        *ngIf="type == sliderTypes.brand && brandsLoaded"
        [ngStyle]="{
          'margin-left': 'calc( -' + margin + '% - 4px)'
        }"
        (swipeleft)="slideRight()"
        (swiperight)="slideLeft()"
      >
        <div
          class="slide"
          *ngFor="let brand of brands; let i = index"
          [attr.data-index]="i"
        >
          <app-batch [id]="brand.id" [name]="brand.brand" [url]="brand.url">
          </app-batch>
        </div>
      </div>
      <span *ngIf="leftVisible" (click)="slideLeft()" class="arrow left-arrow">
      </span>
      <span
        *ngIf="rightVisible"
        (click)="slideRight()"
        class="arrow rigth-arrow"
      >
      </span>
    </div>
  </div>
</div>
