.slider__container {
  max-width: 100vw;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__controls {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.slider__title {
  display: block;
  color: rgb(49, 49, 49);
  font-size: 1rem;
  font-weight: 200;
}

.slider__veiw__more {
  all: unset;
  width: 4.5rem;
  height: 2rem;
  border-radius: 5px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__veiw__more:hover {
  cursor: pointer;
}

.slider__veiw__more span {
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
}

.slider__main {
  width: 100%;
  height: 85%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.slider__actual {
  width: 85%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.slider__container {
  width: 200%;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 30px;
  position: absolute;
  top: 40%;
  background-size: cover;
}

.arrow p {
  color: var(--main-color);
  font-size: 3rem;
}

.rigth-arrow {
  right: 0.2%;
  background-image: url("../../assets/next-round.svg");
}

.left-arrow {
  background-image: url("../../assets/prev-round.svg");
  left: 0.2%;
}

.icon {
  font-size: 2rem;
}
