:host(app-landing-page) {
  background-color: var(--landing-page-background);
  height: 100%;
  width: 100%;
  display: block;
}

.title {
  color: var(--grey);
  display: block;
  font-weight: 400;
}

.slider {
  display: block;
  margin-top: 2rem;
  min-height: 16rem;
}

.landing__carousel {
  height: 18rem;
}

.carousel__container {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1085px) {
  .landing__carousel {
    /* margin-top: 1rem; */
    padding: 1rem;
    background-color: white;
    box-shadow: var(--shadow);
  }

  .title__section {
    display: none;
  }
}
