<div class="landing__carousel">
  <div class="carousel__container">
    <app-carousel></app-carousel>
  </div>
</div>
<div
  class="hidden sm:full sm:h-[4rem] sm:bg-white sm:justify-center sm:items-center sm:flex sm:border-b sm:border-solid sm:border-b-thinborder"
>
  <p class="text-gray-400 block">
    Apollo pharmacy : India's Leading Online Pharmacy & HealthCare Platform
  </p>
</div>
<app-mobile-board class="popular"></app-mobile-board>
<app-slider
  [type]="sliderOfType.brand"
  class="slider brand_slider"
></app-slider>
<app-slider
  *ngFor="let prodType of productTypes; let i = index"
  [attr.data-index]="i"
  [type]="sliderOfType.product"
  [name]="prodType"
  [productType]="prodType"
  [index]="i"
  class="slider"
></app-slider>
<div class="w-full h-fit footer">
  <app-footer *ngIf="productTypes.length > 0"></app-footer>
</div>
