:host(app-landing-page) {
  background-color: var(--landing-page-background);
  height: calc(100vh - 6rem);
  width: 100%;
  display: block;
}

.title__container {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--grey);
  display: block;
  font-weight: 400;
}

.style__container {
  width: 100%;
  height: 100%;
}

.style__heading {
  display: flex;
  justify-self: center;
}

.style__title {
  display: block;
  color: rgb(49, 49, 49);
}
