<div
  class="dropdown"
  id="dropdown"
  [ngClass]="isVisible ? 'dropdown-visible' : ''"
>
  <div
    class="actual-dropdown"
    (mouseenter)="holdDropDown()"
    (mouseleave)="closeDropDown()"
  >
    <div class="dropdown-list">
      <a
        *ngFor="let option of options"
        class="cursor-pointer dropdown-option"
        (click)="follow(false, option.link)"
      >
        <img class="option__img" src="{{ option.url }}" alt="" />
        <p class="option__name">{{ option.name }}</p>
      </a>
    </div>
  </div>
</div>
