.dropdown {
  visibility: hidden;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: calc(100% - 6rem);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.actual-dropdown {
  padding: 1rem;
  background-color: #fff;
  margin-left: 11rem;
  width: 85rem;
  height: 40rem;
  border-radius: 0 0 0.2rem 0.2rem;
  /* box-shadow: rgba(136, 136, 136, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset; */
}

.dropdown-list {
  /* margin-left: 2rem; */
  max-height: calc(40rem - 2rem);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.dropdown-visible {
  visibility: visible;
}

.dropdown-option {
  width: 12rem;
  height: 12rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border-right: 1px solid rgb(222, 222, 222);
  text-decoration: none;
}

.option__img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.option__name {
  margin-top: 0.8rem;
  margin-right: 2.1rem;
  font-size: 1.1rem;
  color: black;
  display: block;
}
