<div
  class="dropdown"
  id="dropdown"
  [ngClass]="isVisible ? 'dropdown-visible' : ''"
>
  <div
    class="actual-dropdown"
    (mouseenter)="setVisible({ value: true })"
    (mouseleave)="setVisible({ value: false })"
  >
    <div class="dropdown-list">
      <a
        *ngFor="let option of options"
        class="dropdown-option"
        [routerLink]="['/products/', option.link]"
        (click)="setVisible({ value: false })"
      >
        <img class="option__img" src="{{ option.url }}" alt="" />
        <p class="option__name">{{ option.name }}</p>
      </a>
    </div>
  </div>
</div>
